@media (min-width: 1200px) {
  .float {
    position: fixed;
    width: 200px;
    height: 60px;
    bottom: 40px;
    right: 0px;
    /*background-color: #21BAE6;*/
    color: rgba(0,0,0,0);
    font-size: 30px;
    border-radius: 50px;
    /*text-align: center;*/
    /*box-shadow: 2px 2px 3px #999;*/
    background-image: url(https://img.icons8.com/color/48/000000/whatsapp--v3.png);
    background-repeat: no-repeat;
  }
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 0px;
  /*background-color: #21BAE6;*/
  color: rgba(0,0,0,0);
  font-size: 30px;
  border-radius: 50px;
  /*text-align: center;*/
  /*box-shadow: 2px 2px 3px #999;*/
  background-image: url(https://img.icons8.com/color/48/000000/whatsapp--v3.png);
  background-repeat: no-repeat;
}

.my-float {
  margin-top: 15px;
}

@media (max-width: 360px) {
  .price2 {
    float: right;
    font-weight: 500;
    font-size: 0.5em;
  }
}

@media (min-width: 1200px) {
  .price2 {
    float: right;
    font-weight: 500;
    font-size: 0.7em;
  }
}

.price {
  float: right;
  font-weight: 500;
  font-size: 0.5em;
}

@media (min-width: 300px) {
  .check {
    margin: auto;
    max-width: 600px;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

.item-name {
  float: left;
}

.item-description {
  float: left;
}

.title {
  padding-top: 0.5em;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin: auto;
}

.regis {
  float: left;
  margin-left: 10px;
}

.d {
  padding-bottom: 1em;
}

.e {
  margin-left: auto;
  margin-right: auto;
}

.img1 {
  max-width: 50%;
}

.price1 {
  font-size: medium;
}

