@media (min-width: 1200px) {
  .img-fluid {
    width: 1100px;
    background-image: url(https://images.tokopedia.net/img/cache/750/VCeHif/2021/2/18/6b694fa6-212f-4bf1-9b8d-d2d42f97c741.jpg.webp?ect=4g);
    margin-left: auto;
    margin-right: auto;
  }
}

.action-button {
  font-size: 35PX;
  /*padding-top: 5rem;*/
}

@media (min-width: 1200px) {
  .btn {
    padding-top: 1rem;
  }
}

@media (min-width: 1200px) {
  .a {
    font-size: 50px;
    /*padding-top: 2rem;*/
  }
}

.float {
  background-image: url(https://img.icons8.com/color/48/000000/whatsapp--v3.png);
}

@media (min-width: 1200px) {
  .lab {
    height: 500px;
    width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1199px) {
  .lab {
    max-width: 140px;
    padding-top: 1rem;
  }
}

@media (max-width: 1199px) {
  .shop {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .shop {
    width: 75px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
}

.partner {
  max-width: 1000px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1199px) {
  .partner {
    max-width: 300px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
}

.B {
  font-family: sans-serif;
  font-weight: 1000;
  padding-top: 1rem;
}

.login {
  display: flex;
}

.loginbtn {
  padding-top: 1rem;
  display: flex;
}

.loginbtn1 {
  display: flex;
}

.item {
  margin-top: 1em;
}

.con {
  max-width: 500px;
  margin: auto;
  padding: 40px;
}

.small-preview {
  width: 60px;
  margin-right: 5px;
  cursor: pointer;
  opacity: .5;
}

.sidebar {
  /*flex-basis: 30%;*/
  width: 100%;
  display: flex;
  /*flex-direction: column;*/
}

.zoomed-image {
  width: 100%;
  height: 300px;
  flex: 1;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  margin-bottom: 5px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.rating {
  color: #fec000;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0,0,0,.1);
}

.clean-related-item .related-name .rating img, .clean-block.clean-product .reviews .review-item .rating img, .clean-block.clean-product .product-info .info .rating img {
  width: 18px;
  margin-right: 2px;
}

img, svg {
  vertical-align: middle;
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}

.clean-product-item .about {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clean-block.clean-catalog .filter-collapse {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 30px;
  border-radius: 0;
  text-align: left;
}

.btn-link:hover {
  color: #0a58ca;
}

.btn-check:focus + .btn, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
}

.btn-link {
  font-weight: 400;
  color: #0d6efd;
  text-decoration: underline;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.col-lg-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5);
}

@media (min-width: 768px) {
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
}

@media (min-width: 768px) {
  .d-md-block {
    display: block !important;
  }
}

@media (min-width: 768px) {
  .d-md-none {
    display: none !important;
  }
}

.clean-block.clean-catalog .filter-collapse {
  display: block;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 30px;
  border-radius: 0;
  text-align: left;
}

.clean-block.clean-catalog .filter-collapse .filter-caret {
  float: right;
  font-size: 12px;
  line-height: 26px;
}

.collapse:not(.show) {
  display: none;
}

@media (min-width: 768px) {
  .clean-block.clean-catalog .filters {
    padding-top: 30px;
  }
}

.clean-block.clean-catalog .filters .filter-item {
  margin-bottom: 40px;
}

.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: .125rem;
}

.form-check-input:checked[type=checkbox] {
  background-image: url([svg]);
}

.form-check-input:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.form-check-input:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
}

.form-check-input:active {
  filter: brightness(90%);
}

.form-check-input[type=checkbox] {
  border-radius: .25em;
}

.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
}

.form-check-input {
  width: 1em;
  height: 1em;
  margin-top: .25em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0,0,0,.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.clean-block.clean-catalog .filters label {
  word-wrap: break-word;
  max-width: 100%;
}

label {
  display: inline-block;
}

@media (min-width: 768px) {
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
}

@media (min-width: 768px) {
  .clean-block.clean-catalog .products {
    padding: 30px 30px 30px 0;
  }
}

@media (min-width: 768px) {
  .clean-block.clean-catalog .products .row:first-of-type {
    border-top: 1px solid #e8e6e6;
    border-left: 1px solid #e8e6e6;
  }
}

.g-0, .gy-0 {
  --bs-gutter-y: 0;
}

.g-0, .gx-0 {
  --bs-gutter-x: 0;
}

@media (min-width: 768px) {
  .clean-block.clean-catalog .products .clean-product-item {
    border-right: 1px solid #e8e6e6;
  }
}

.clean-product-item {
  padding: 20px;
  border-right: none;
  border-bottom: 1px solid #e8e6e6;
  height: 100%;
}

.clean-product-item .rating img {
  width: 14px;
  margin-right: 2px;
}

.col-xl-5 {
  max-width: 50%;
}

.clean-block .block-heading p {
  text-align: center;
  max-width: 420px;
  margin: auto;
  opacity: .7;
}

.clean-block .content {
  box-shadow: 0px 2px 10px rgba(0,0,0,.075);
  background-color: #fff;
}

@media (min-width: 992px) {
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
}

.clean-block.clean-cart .items {
  padding: 36px;
}

@media (min-width: 768px) {
  .clean-block.clean-cart .items .product:not(:last-child) {
    padding-top: 0;
    padding-bottom: 25px;
  }
}

@media (min-width: 768px) {
  .clean-block.clean-cart .items .product {
    padding: 0;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .clean-block.clean-cart .items .product {
    padding: 0;
    text-align: left;
  }
}

.justify-content-center {
  justify-content: center !important;
}

.align-items-center {
  align-items: center !important;
}

@media (min-width: 768px) {
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
}

.clean-block.clean-cart .items .product .product-image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: 2px solid #f0f0f0;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

.d-block {
  display: block !important;
}

img, svg {
  vertical-align: middle;
}

@media (min-width: 768px) {
  .clean-block.clean-cart .items .product .product-info {
    padding: 0 15px 0 1.5em;
  }
}

@media (min-width: 768px) {
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
}

.clean-block.clean-cart .items .product .product-name {
  font-weight: 600;
  font-size: 1.3em;
}

@media (min-width: 768px) {
  .clean-block.clean-cart .items .product .product-name {
    font-size: 1em;
  }
}

element.style {
}

.clean-block.clean-cart .items .product .product-info .product-specs {
  font-size: .8rem;
  font-weight: 600;
  margin-top: 15px;
}

.clean-block.clean-cart .items .product .product-info .product-specs .value {
  font-weight: 400;
}

@media (min-width: 768px) {
  .clean-block.clean-cart .items .product .quantity {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.clean-block.clean-cart .items .product .quantity label {
  font-size: .9em;
}

@media (min-width: 768px) {
  .d-md-block {
    display: block !important;
  }
}

.d-none {
  display: none !important;
}

.form-label {
  margin-bottom: .5rem;
}

label {
  display: inline-block;
}

@media (min-width: 768px) {
  .clean-block.clean-cart .items .product .quantity .quantity-input {
    margin: auto;
    padding-left: 15px;
    padding-right: 5px;
  }
}

.clean-block.clean-cart .items .product .quantity .quantity-input {
  width: 68px;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 .25rem rgba(13,110,253,.25);
}

.form-control {
  display: block;
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

@media (min-width: 768px) {
  .clean-block.clean-cart .items .product .price {
    font-weight: bold;
    font-size: 22px;
  }
}

.clean-block.clean-cart .items .product .price {
  font-weight: bold;
  font-size: 22px;
  text-align: right;
}

@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}

@media (min-width: 768px) {
  .col-md-12 {
    /*flex: 0 0 auto;*/
    /*width: 100%;*/
  }
}

.clean-block.clean-cart .summary {
  background-color: #f7fbff;
  height: 100%;
  padding: 30px;
}

.clean-block.clean-cart .summary .text {
  font-size: .65em;
  font-weight: 600;
}

.clean-block.clean-cart .summary button {
  margin-top: 20px;
  font-weight: 600;
  font-size: 1em;
  padding: 10px 0;
}

.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .25rem rgba(49,132,253,.5);
}

button:focus:not(:focus-visible) {
  outline: 0;
}

.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0a58ca;
  border-color: #0a53be;
}

button:not(:disabled), [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled) {
  cursor: pointer;
}

.w-100 {
  width: 100% !important;
}

.clean-block.clean-cart .summary .price {
  font-size: .6em;
  float: right;
  margin-top: 10px;
}

@media (max-width: 1199px) {
  .col-lg-4 {
    float: right;
  }
}

body {
  /*margin: 0;*/
  font-family: "Montserrat", sans-serif;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  /*background-color: #fff;*/
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #3b99e0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: "Montserrat", sans-serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

